* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

body{
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-color: rgb(216,198,102);
}

.bodyText{
  text-align: center;
  font-family: fantasy;
}

.table{
  margin-left: auto;
  margin-right: auto;
}

.death{
  font-weight: 900;
  font-size: 1.4rem;
  font-style: oblique;
}

.buttonStyle{
  color: red;
  background-color: black;
  padding: 10px;
}
